$primary-background-color: #030712;
$secondary-background-color: #A089E6;
$primary-text-color: #ffffff;
$secondary-text-color: #dbdbdb;
$color-aqua: #02e5fd;
$color-white: #ffffff;
$color-black: #000000;
